<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                
                   
                    <nav class="menu">
                        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                        <label class="menu-open-button" for="menu-open">
                            <span class="hamburger hamburger-1"></span>
                            <span class="hamburger hamburger-2"></span>
                            <span class="hamburger hamburger-3"></span>
                        </label>
                        <a href="http://localhost:58424/" class="menu-item"> <p>home</p></a>
                        <a href="http://localhost:58424/salesforceaccount" class="menu-item"><p> accounts </p></a>
                        <a href="http://localhost:58424/salesforcecontact" class="menu-item"> <p>contacts</p> </a>
                        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        <a href="https://na34.salesforce.com/setup/secur/RemoteAccessAuthorizationPage.apexp?source=CAAAAVDfolyoME8waTAwMDAwMDAwMDAxAAAAxsy-a6AEP1f2TnJUcMgqsuQ6-EO3fMtqqYnutjN6VIDJhDZFN7zoMhXuv97vJ9lq30m9q3scaPJ2Pe1IPrIw7R90MoKOmM4cFp7xpZ34T4BN5aL7kdEFQJeUeE-uIiYF_UqFvzCvoyfSzcXnSMWLZZxn5vWL0PXea9YxJAnFzdUHrazlST1OG_v09H0RfTDPITYMvdzDLnCFREyizV6jK59KB2MC7M1go8nfrrxlbcEhCl6PiLfcro4aS6I1quuXjZQr4_h_mg0L-Zbn7hTmUo-AGD6kZ3gmdXrvIExNCrkecHqa-G_k_noh5oneD-A1AulYJvuuLONKvH_4L8Of3nMLPE4r4kqVewshVe0gvGWV7Y2SIFGVVWJrtYmRcInBor0ITe1B3mIo_hnkWJeR4cFsJ2Lv8EJSNNBNzStFqCvSBiizhLmff-lffV0oAAymo7fLA522zXD-qH_5m27Smio%3D&display=page&sdtd=1" class="menu-item"> <p>Log in</p> </a>
                    </nav><!-- filters -->
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <filter id="shadowed-goo">
                                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                                <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                                <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                                <feComposite in2="shadow" in="goo" result="goo" />
                                <feComposite in2="goo" in="SourceGraphic" result="mix" />
                            </filter>
                            <filter id="goo">
                                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                <feComposite in2="goo" in="SourceGraphic" result="mix" />
                            </filter>
                        </defs>
                    </svg>
            
         

        </div>
            <div class="navbar-collapse collapse">
                
              
               
                <ul class="nav navbar-nav navbar-right blah">
                    
                    </ul>

</div>
            
        </div>
    </div>
    <div class="container body-content">

        <br><br><br><br><br>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
