@model CallTracker.Models.CallRecord

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
    <h4>CallRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.call_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.call_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.call_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.call_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.call_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
