@model IEnumerable<CallTracker.Models.CallRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Call History</h2>
@using (Html.BeginForm())
{
    @*<p>
        Search Contact Id: @Html.TextBox("search")  <input type="submit" value="Submit" />
    </p>*@
}

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.call_day)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.call_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.contact_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.call_day)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.call_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.available)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.contact_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.call_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.call_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.call_id })
        </td>
    </tr>
}

</table>
