@model IEnumerable<WebApplication9.Models.SalesForceAccountViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Accounts</h3>
<p>
    @using (Html.BeginForm())
    {
    <p2>
        Search Account Name: @Html.TextBox("SearchString")  <input type="submit" value="Submit" />
    </p2>
    }
   <br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>
